@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Vazirmatn', sans-serif;
  }

  /* Apply globally */
  html, body {
    font-family: "VazirMatn", sans-serif;
    direction: rtl;
    text-align: right;
  }
